table {
    border-collapse: collapse;
}

body {
    margin-top: 100px;
}

.employee-list-form {
    margin-top: 40px;
    cursor: pointer;
}

.employee-edit-form,
.rd3-basic-chart {
    width: 700px;
    margin: 0 auto;
}

.employee-edit-form-button {
    margin-left: 200px;
}

.employee-edit-form-button .save {
    margin-left: 10px;
}
